# Leave all values unset to run the standalone Google ADK workflow.
# Set all values to send optional runtime evidence to BHANUJ.
AI_GOVERNANCE_BASE_URL=http://localhost:8000
AI_GOVERNANCE_ORGANIZATION_ID=org_default
AI_GOVERNANCE_PROJECT_ID=project_default
